@page "/new-task"

@rendermode InteractiveServer

<PageTitle>New Task</PageTitle>

<div class="h-100 w-100 d-flex flex-column justify-content-center align-items-center">
    <EditForm Model="@_newTaskFormModel" onsubmit="@AddTask"
              class="d-flex flex-column gap-3 w-100 align-items-center justify-content-center">
        <DataAnnotationsValidator/>

        <Label class="d-flex flex-column">
            Title:
            <InputText @bind-value="_newTaskFormModel.Title" class="form-control"></InputText>
            <ValidationMessage For="@(() => _newTaskFormModel.Title)"></ValidationMessage>
        </Label>

        <Label class="d-flex flex-column">
            Description:
            <InputTextArea @bind-Value="_newTaskFormModel.Description" class="form-control"></InputTextArea>
            <ValidationMessage For="@(() => _newTaskFormModel.Description)"></ValidationMessage>
        </Label>

        <Label class="d-flex flex-column">
            Due Date:
            <InputDate @bind-Value="_newTaskFormModel.DueDate" class="form-control"></InputDate>
            <ValidationMessage For="@(() => _newTaskFormModel.DueDate)"></ValidationMessage>
        </Label>

        <label class="d-flex flex-column">
            Status:
            <InputSelect @bind-Value="_newTaskFormModel.Status" class="form-control">
                <option value="0">Pending</option>
                <option value="1">In Progress</option>
                <option value="2">Completed</option>
                <option value="3">Delivered</option>
            </InputSelect>
        </label>


        <Button type="submit" class="btn btn-primary">Add Task</Button>

    </EditForm>


</div>